#contenedor{
	border:2px solid #000000;
    background-color: #ffffff;
	margin: 20px;
	width: 500px;
	height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

	}

#rojo{
	margin:0 auto;
	height:35%;
	width:94%;
	border:1px solid #df1313;
	margin-bottom:20px;
	background-color: #df1313;
    display: flex;
    justify-content: center;
    align-items: center;
}

#azul{
	margin:0 auto;
	height:35%;
	width:94%;
	border:1px solid #0a23ad;
	margin-bottom:20px;
	background-color: #0a23ad;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verde{
	margin:0 auto;
	height:35%;
	width:94%;
	border:1px solid #14b90e;
	margin-bottom:20px;
	background-color: #14b90e;
    display: flex;
    justify-content: center;
    align-items: center;
}
