#contenedor{
	border:2px solid #000000;
    background-color: #ffffff;
	margin: 20px;
	width: 378px;
	height: 426px;
    display: flex;
    align-items: center;
	flex-direction: column;
	position: relative;
	justify-content: flex-start;
	
	
	}

#rojo{
	position: absolute;
	left: 244px;
	margin:0 auto;
	height: 140px;
	width:35%;
	border:1px solid #df1313;
	background-color: #df1313;
    display: flex;
    justify-content: center;
    align-items: center;

}

#azul{
	position: absolute;
	left: 244px;
	top: 142px;
	margin:0 auto;
	height:140px;
	width:35%;
	border:1px solid #0a23ad;
	background-color: #0a23ad;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verde{
	position: absolute;
	left: 244px;
	top: 284px;
	margin:0 auto;
	height:140px;
	width:35%;
	border:1px solid #14b90e;
	background-color: #14b90e;
    display: flex;
    justify-content: center;
    align-items: center;
}
