h1 {
    color: rgb(41, 15, 185);
    /*color de la fuente*/
    text-align: center;
    /*alineacion*/
    font-size: 60px;
    /*tamaño de la fuente*/
    font-family: Arial, Helvetica, sans-serif;
    /*fuente*/
    font-family: 'Playfair Display', serif;

}

img{
    padding-left: 750px;
    
}

h2 {
    color: cornflowerblue;
    font-size: 27px;
    font-family: 'Playfair Display', serif;
}

p {
    color: black;
    font-weight: bold;
    /*letra negrita*/
    font-style: italic;
    /*letra cursiva*/
    font-size: 20px;
    line-height: 23px;
    font-family: 'Playfair Display', serif;
}

ul {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}

ol {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}

#caja {
    background-color: rgb(32, 158, 158);
    width: 450px;
    /*ancho de caja*/
    height: 200px;
    /*alto de caja*/
    padding: 20px;
    box-sizing: border-box;
    margin-left: 650px;
    /*espacio desde margen*/
    border: 5px solid black;
    /*contorno de caja*/
    background: rgb(0,212,255);
background: linear-gradient(180deg, rgba(0,212,255,0.7287289915966386) 0%, rgba(255,255,255,0.32816876750700286) 35%, rgba(255,255,255,0) 65%, rgba(0,212,255,1) 100%);
box-shadow: 21px 21px 63px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 21px 21px 63px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 21px 21px 63px 4px rgba(0,0,0,0.75);

}

.destacados {
    /*palabras o frases clave*/
    font-size: 22px;
    color: rgb(3, 5, 168);
}